.note-box-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  color: #143670;
  font-size: calc(4px + 2vmin);
  margin-bottom: 5px;
}

.note-box-container-edit {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  background-color: blanchedalmond;
  color: darkred;
  font-size: calc(4px + 2vmin);
  margin-bottom: 5px;
}

.note-box-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.note-box-header-title-container {
  padding-top: 5px;
  padding-left: 10px;
  max-width: 65%;
}

.note-box-header-edit-container {
  padding-top: 5px;
  padding-right: 10px;
}

.note-box-icon {
  padding: 0 10px;
}

#note-box-pencil-icon {
  cursor: pointer;
}

.note-box-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
