.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#accordion-details-container {
  width: 100%;
  z-index: 0;
}

.details-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(6px + 2vmin);
}

#details-options-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30%;
}

.field-validation {
  color: red !important;
}

.details-form-input-field {
  font-size: calc(4px + 2vmin);
  color: #143670;
}

.details-action-icon {
  cursor: pointer;
}

#accordion-engagements-container {
  width: 100%;
  z-index: 1;
}

.engagement-box-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: calc(4px + 2vmin);
  background-color: white;
  color: #143670;
}

.engagement-box-container-editing {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: calc(4px + 2vmin);
  background-color: blanchedalmond;
  color: darkred;
}

.engagement-box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.engagement-action-icon {
  cursor: pointer;
}

#engagement-edit-icon {
  margin-right: 10px;
}

#engagement-box-content {
  display: flex;
  flex-direction: column;
}

.engagement-box-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.engagement-form-input-field {
  font-size: calc(4px + 2vmin);
  color: #143670;
  margin-bottom: 5px;
}

#engagement-edit-box-header-title-container {
  min-width: 70%;
}

#text-engagement-name {
  font-weight: bold;
  min-width: 100%;
}

#textarea-engagement-remarks {
  min-width: 100%;
}

#accordion-notes-container {
  width: 100%;
  z-index: 2;
  margin-bottom: 10px;
}

.home-add-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-add {
  background-color: aliceblue;
  margin-top: 7.5px;
  min-width: calc(100px + 2vmin);
  max-width: calc(200px + 2vmin);
  min-height: calc(20px + 1vmin);
  max-height: calc(50px + 1vmin);
  border: none;
  color: #143670;
  font-weight: bold;
  cursor: pointer;
}

#add-note :hover {
  box-shadow: 5px white;
}

h2 {
  margin-top: 2.5px;
}

td {
  padding-left: 20px;
}
