.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-add-note-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-note {
    background-color: aliceblue;
    margin-top: 7.5px;
    height: calc(20px + 1vmin);
    width: calc(100px + 2vmin);
    border: none;
    color: #143670;
    font-weight: bold;
    cursor: pointer;
}

#add-note :hover {
    box-shadow: 5px white;
}

h2 {
  margin-top: 2.5px;
}

td {
  padding-left: 20px;
}
