.app-container {
  height: 100%;
}

.app-content-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100%;
}

// .app-customer-picker {
// }

// .app-notifications-panel {
// }