@use "../../App.scss";

.header-container {
  margin: 10px;
  max-height: 100px;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.header-icons {
  width: 100%;
  min-width: 0.3vw;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header-home-container {
  max-width: 100px;
  padding: 0 10px 0 10px;
}

.header-customers-container {
  max-width: 100px;
  padding: 0 10px 0 10px;
}

.header-search {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-search-text-container {
  max-width: 100px;
  padding: 0 10px 0 10px;
}

.header-search-bar-container {
  min-width: 400px;
  padding: 0 10px 0 10px;
}

#searchInput {
  min-height: 25px;
  width: 350px;
  font-size: calc(4px + 2vmin);
  color: #143670;
}

#searchInput::placeholder {
  font-size: calc(0.5px + 2vmin);
}

.icon {
  color: grey;
  cursor: pointer;
}

.icon-selected {
  color: aliceblue;
}
